<div id="tabstrip-docs" data-role="view" data-show="app.documentsetting.viewModel.documentShow"data-model="app.documentsetting.viewModel">
<div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title">
                <div class="matches-logo"></div>
            </span>
        </div>
    </div>
<div data-role="content">
    <a data-role="backbutton">Back</a>
    <ul id="listView" data-bind="source: documents"  data-template="docs-template"></ul>
</div>

</div>
<!-- Matches page template -->
        <script type="text/x-kendo-template" id="docs-template">
            <li><p> #: name #</p></li>
        </script>