 <!--Home-->
        <div id="tabstrip-home" data-role="view" class="home" data-show="app.homesetting.viewModel.homeShow"data-model="app.homesetting.viewModel">
            <div data-role="header">
                <div data-role="navbar">
                    <span data-role="view-title">
                        <div class="logo"></div>
                    </span>
                    <a data-align="right" data-rel="popover" href="#popover-people" data-role="button" class="popup"></a>
                </div>
            </div>
            <div class="view-content">
                <div id="homePage" data-template="homepage-listview-template">
                    <div id="blackBlk">
                        <div class="warps">
                            <div class="desbrdIcon clearfix">
                                <div class="dasimg">
                                    <img src="styles/images/ic_dashboard.png" alt="img">
                                </div>
                                <div class="span">Dashboard</div>
                            </div>
                            <article class="clearfix" id="dashview">
                                <div class="warps clearfix">
                                    <div id="stps">
                                        <ul>

                                            <li class="dn">
                                                <a class="reld_info" href="#">
                                                    <strong>0</strong><span>Get Started</span>
                                                </a>
                                                <span class="dnar"></span>
                                            </li>

                                            <li class="activ">
                                                <a href="#">
                                                    <strong>1</strong><span>Loan Application</span>
                                                </a><span class="dnar"></span>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <strong>2</strong><span>Loan Matches</span>
                                                </a><span class="dnar"></span>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <strong>3</strong><span>Required Docs.</span>
                                                </a><span class="dnar"></span>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <strong>&nbsp;</strong><span>Funded</span>
                                                </a><span class="dnar"></span>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="clearfix" id="stpSumAc">
                                        <div class="stpsumry">
                                            <h2 data-bind="text: dHeader"></h2>
                                            <p data-bind="text: dDescription"></p>
                                        </div>

                                        <div class="stpcurrntAc">
                                            <div id="home-call-btn">
                                            	<a class="btngr" href="#" data-bind="text: dButtonText"></a>
                                            </div>
                                            <p>
                                                <a href="#tabstrip-scall" data-rel="modalview" data-role="button">
                                                    <strong>Schedule a Call</strong>
                                                </a>
                                            </p>

                                        </div>
                                    </div>

                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div data-role="footer">
                <div data-role="navbar" class="documentClick">
                    <a href="views/documents.html" data-role="button">
                        <img src="styles/images/ic_launcher.png"><span>Documents</span>
                    </a>
                </div>
            </div>
            <div data-role="popover" class="popupBox" id="popover-people" data-popup='{"height": "10em", "width": "12em"}'>
                <div data-role="view" data-model="app.loginService.viewModel">
                    <ul data-role="listview">
                        <li data-bind="click: refreshHome" >Refresh</li>
                        <li data-bind="click: setUserLogout">Logout</li>
                        <li data-bind="click: onLogout2">Setting</li>
                    </ul>
                </div>
            </div>
        </div>