 <!--Document Section---->
        <div id="tabstrip-docs" data-role="view"  data-init="listViewInit" data-show="app.documentsetting.viewModel.documentShow" data-model="app.documentsetting.viewModel">

            <div data-role="header" class="docs-header">
                <div data-role="navbar">
                    <span data-role="view-title">
                    	<a class="docs-back" data-role="backbutton" data-bind="invisible: showfilter">Back</a>
                    	<a class="docs-back" data-bind="click: setVisibilty, visible: showfilter">Back</a>
                    	<p class="docs-docu" data-bind="invisible: showfilter">Documents</p>
                    	<div class="searchForm" data-bind="invisible: showfilter">
                    		<a data-bind="click: setVisibilty"class="docs-search">search</a>
                    		<a data-bind="click: refreshView"class="docs-refresh">refresh</a>
                    		<a data-align="right" data-rel="popover" href="#popover-people" data-role="button" class="docs-popup"></a>
                    	</div>
                    	<div id="docs-filter" data-bind="visible: showfilter"></div>
                    </span>
                </div>
            </div>

            <div class="documentContent" data-role="content">
                <a class="inner-docs-back" data-role="backbutton" data-bind="visible: innerPage">Documents</a>
            	<ul id="list-edit-listview" data-role="listview" data-bind="source: documents"  data-template="docs-template" data-filterable="{ field: 'name', operator: 'startswith'}"></ul> 
            </div>
        </div>
<!--home message 3-->
        <div id="tabstrip-folder-events" class="folder-events" data-role="modalview"  data-height="200" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
                <span class="folderName"></span>
                <a data-role="button" data-aligh="right"  data-click="folderEventsCloseModal">Close</a>
               </div>
            <ul>
            	<li>
                 	<a data-role="button"  data-bind="click: deleteFolder">Delete</a>
                </li>
            	<li>
            		<a data-role="button"  data-bind="click: renameFolder">Rename</a>
            	</li>
            	<li>
            		<a data-role="button"  data-bind="click: moveFolder">Move</a>
            	</li>
            </ul>  
        </div>

<!-- Matches page template -->
        <script type="text/x-kendo-template" id="docs-template">
            <li id="#: data.id #">
             #if(typeof docType !== "undefined" || typeof docType !== "undefined"){#
                #if(docType === "Folder"){#
                    #if(name === "Shared Files" || name === "Shared Folders"){#
                    	<a  class="parent ftouch" id="#: data.id #">
                    	<span class="sharedfolder"> <span>#: name #</span></span>
                    	</a>
                    #}else{#
                   	 <a  class="parent ftouch" id="#: data.id #">
                    	<span class="#: docType #"><span> #: name #</span></span>
                    	</a>
                    #}#

                #}else{#
                	# var ext = getFileExtension(name) #
                	<a href="\#" class="parent">   
                	<span class="#= ext # default-icon"><span>#: name #</span></span>
                	</a>
                #}#
          	#}#
           </li>
            #function getFileExtension(filename)
            {
                var ext = /^.+\.([^.]+)$/.exec(filename);
                return ext === null ? "" : ext[1];
            }#
        </script>
        <script>
            function listViewInit(e) {
                e.view.element.find("#list-edit-listview").kendoTouch({ 
                    filter: ">li",
                    tap: function (e) {    
                        if(!hold)
                        {
                        	apps.navigate('#tabstrip-docs?parent='+e.touch.currentTarget.id);
                        }
                    },
                    touchstart: function (e) {
                    	hold = false;
                    },
                    hold: function (e) {
                	 hold = true;
					 navigator.notification.vibrate(100);
                     $("#tabstrip-folder-events").data("kendoMobileModalView").open();
            		 $("#tabstrip-folder-events").find(".km-scroll-container").css("-webkit-transform", "");
                     $('#tabstrip-folder-events .folderName').html('');
                     $('#tabstrip-folder-events .folderName').append('<span>'+e.touch.currentTarget.innerText+'</span>');
                     $('#tabstrip-folder-events .folderName').attr("id",e.touch.currentTarget.id)
                    }                    
            });
        }
            function folderEventsCloseModal() {
            	$("#tabstrip-folder-events").data("kendoMobileModalView").close();
            }
        </script>
