 <!--Document Section---->
        <div id="tabstrip-docs" data-role="view" data-show="app.documentsetting.viewModel.documentShow" data-model="app.documentsetting.viewModel">

            <div data-role="header" class="docs-header">
                <div data-role="navbar">
                    <span data-role="view-title">
                    	<a class="docs-back" href="#tabstrip-home" data-role="button" data-bind="invisible: showfilter">Back</a>
                    	<a class="docs-back" data-bind="click: setVisibilty, visible: showfilter">Back</a>
                    	<p class="docs-docu" data-bind="invisible: showfilter">Documents</p>
                    	<div class="searchForm" data-bind="invisible: showfilter">
                    		<a data-bind="click: setVisibilty"class="docs-search">search</a>
                    		<a data-bind="click: refreshView,invisible: showrefreshLoading" class="refresh-com docs-refresh">refresh</a>
                            <a data-bind="click: refreshView,visible: showrefreshLoading" class="refresh-loading docs-refresh">refresh</a>
                    		<a data-align="right" data-rel="popover" href="#popover-docs" data-role="button" class="docs-popup"></a>
                    	</div>
                    	<div id="docs-filter" data-bind="visible: showfilter"></div>
                    </span>
                </div>
            </div>

            <div class="documentContent" data-role="content">
                <a class="inner-docs-back"   data-bind="click:gobackDocsPage,visible: innerPage"><span>Documents</span></a>
            	<ul id="list-edit-listview"></ul> 
            </div>
            <div data-role="popover" class="popupBox" id="popover-docs" data-popup='{"height": "10em", "width": "12em"}'>
                <div data-role="view" data-model="app.documentsetting.viewModel">
                    <ul data-role="listview">
                        <li data-bind="click: newFolderModal" >New Folder</li>
                        <li data-bind="click: onLogout2">Setting</li>
                        <li data-bind="click: setUserLogout">Logout</li>
                    </ul>
                </div>
            </div>
        </div>
<!--folder events-->
        <div id="tabstrip-folder-events" class="folder-events" data-role="modalview"  data-height="200" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
                <span class="folderName"></span>
                <a data-role="button" data-aligh="right"  data-click="CloseModal">Close</a>
               </div>
            <ul>
            	<li>
                 	<a data-role="button"  data-bind="click: deleteFolder">Delete</a>
                </li>
            	<li>
            		<a data-role="button"  data-bind="click: renameFolder">Rename</a>
            	</li>
            	<li>
            		<a data-role="button"  data-bind="click: moveFolder">Move</a>
            	</li>
            </ul>  
        </div>
<!--files events-->
        <div id="tabstrip-files-events" class="folder-events" data-role="modalview"  style="width: 100%; height: 50%;" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
                <a data-role="button" data-aligh="right"  data-click="CloseModal">Close</a>
               </div>
            <ul>
            	<li>
                 	<a data-role="button"  data-bind="click: deleteFile">Delete</a>
                </li>
            	<li>
            		<a data-role="button"  data-bind="click: renameFile">Rename</a>
            	</li>
            	<li>
            		<a data-role="button"  data-bind="click: moveFolder">Move</a>
            	</li>
                <li>
            		<a data-role="button"  data-bind="click: exportFile">Export</a>
            	</li>
            </ul>  
        </div>
<!--Add New Folder-->
        <div id="tabstrip-new-folder" class="folder-events" data-role="modalview"  data-height="200" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
            	<span class="newfolder">New Folder</span>
            </div>
            <form id="new-folder-form" class="scheduleSection">
            	<input type="text" data-bind="value: newFolderName" class="new-folder-field" placeholder="New Folder"/>
            	<div class="buttonArea">
            		<input type="submit" data-role="button" data-click="CloseModal" value="Cancel" />
            		<input type="submit"  data-role="button" data-bind="click: newFolderCreate" class="new-folder-create" value="Create" />
            	</div>
            </form>
        </div>
<!--Delete Folder-->
        <div id="tabstrip-delete-folder" class="folder-events" data-role="modalview"  data-height="200" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
            	<span class="folderName"></span>
            </div>
            <form id="new-folder-form" class="scheduleSection">
            	<p>Are you sure want to delete this folder?</p>
            	<div class="buttonArea">
            		<input type="submit" data-role="button" data-click="CloseModal" value="Cancel" />
            		<input type="submit" data-role="button" data-bind="click: thisFolderDelete" class="new-folder-create" value="Delete" />
            	</div>
            </form>
        </div>
<!--Delete Files-->
        <div id="tabstrip-delete-files" class="folder-events" data-role="modalview"  data-height="200" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
            	<span class="folderName"></span>
            </div>
            <form id="new-folder-form" class="scheduleSection">
            	<p>Are you sure want to delete this file?</p>
            	<div class="buttonArea">
            		<input type="submit" data-role="button" data-click="CloseModal" value="Cancel" />
            		<input type="submit" data-role="button" data-bind="click: thisFileDelete" class="new-folder-create" value="Delete" />
            	</div>
            </form>
        </div>
<!--Rename Folder-->
        <div id="tabstrip-rename-folder" class="folder-events" data-role="modalview"  data-height="200" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
            	<span class="newfolder">Rename Folder</span>
            </div>
            <form id="new-folder-form" class="scheduleSection">
            	<input type="text" data-bind="value: renameFolderName" class="new-folder-field" placeholder="Rename Folder"/>
            	<div class="buttonArea">
            		<input type="submit" data-role="button" data-click="CloseModal" value="Cancel" />
            		<input type="submit" data-role="button" data-bind="click: thisFolderRename" class="new-folder-create" value="Rename" />
            	</div>
            </form>
        </div>
<!--Rename File-->
        <div id="tabstrip-rename-file" class="folder-events" data-role="modalview"  data-height="200" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
            	<span class="newfolder">Rename File</span>
            </div>
            <form id="new-folder-form" class="scheduleSection">
            	<input type="text" data-bind="value: renameFolderName" class="new-folder-field" placeholder="Rename File"/>
            	<div class="buttonArea">
            		<input type="submit" data-role="button" data-click="CloseModal" value="Cancel" />
            		<input type="submit" data-role="button" data-bind="click: thisFileRename" class="new-folder-create" value="Rename" />
            	</div>
            </form>
        </div>
<!-- Matches page template -->
        <script type="text/x-kendo-template" id="docs-template">
           
             #if(typeof docType !== "undefined" || typeof docType !== "undefined"){#
                #if(docType === "Folder"){#
                    #if(name === "Shared Files" || name === "Shared Folders"){#
                    	
                    	<span data-id="folder" class="sharedfolder"> <span data-id="folder">#: name #</span></span>
                    	
                    #}else{#
                   	 
                    	<a><span class="#: docType #" data-id="folder"><span data-id="folder"> #: name #</span></span></a>
                    	
                    #}#

                #}else{#
                	# var ext = getFileExtension(name) #
                	  
                	<a><span data-id="files" class="#= ext # default-icon"><span  data-id="files">#: name #</span></span></a>
                	
                #}#
          	#}#
           
            #function getFileExtension(filename)
            {
                var ext = /^.+\.([^.]+)$/.exec(filename);
                return ext === null ? "" : ext[1];
            }#
        </script>
        <script>
            
            function CloseModal() {
            	$("#tabstrip-folder-events").data("kendoMobileModalView").close();
                $("#tabstrip-files-events").data("kendoMobileModalView").close();
                $("#tabstrip-new-folder").data("kendoMobileModalView").close();
                $("#tabstrip-delete-folder").data("kendoMobileModalView").close();
                $("#tabstrip-rename-folder").data("kendoMobileModalView").close();
                $("#tabstrip-rename-file").data("kendoMobileModalView").close();
                $("#tabstrip-delete-files").data("kendoMobileModalView").close();
            }
            
        </script>