 <!--Document Section---->
        <div id="tabstrip-docs" data-role="view" data-show="app.documentsetting.viewModel.documentShow"data-model="app.documentsetting.viewModel">

            <div data-role="header" class="docs-header">
                <div data-role="navbar">
                    <span data-role="view-title">
                    	<a class="docs-back" data-role="backbutton" data-bind="invisible: showfilter">Back</a>
                    	<a class="docs-back" data-bind="click: setVisibilty, visible: showfilter">Back</a>
                    	<p class="docs-docu" data-bind="invisible: showfilter">Documents</p>
                    	<div class="searchForm" data-bind="invisible: showfilter">
                    		<a data-bind="click: setVisibilty"class="docs-search">search</a>
                    		<a data-bind="click: refreshView"class="docs-refresh">refresh</a>
                    		<a data-align="right" data-rel="popover" href="#popover-people" data-role="button" class="docs-popup"></a>
                    	</div>
                    	<div id="docs-filter" data-bind="visible: showfilter"></div>
                    </span>
                </div>
            </div>

            <div class="documentContent" data-role="content">
                <a class="inner-docs-back" data-role="backbutton" data-bind="visible: innerPage">Documents</a>
            	<ul id="listView" data-role="listview" data-bind="source: documents"  data-template="docs-template" data-filterable="{ field: 'name', operator: 'startswith', }"></ul> 
            </div>
        </div>


<!-- Matches page template -->
        <script type="text/x-kendo-template" id="docs-template">
             #if(typeof docType !== "undefined" || typeof docType !== "undefined"){#
                #if(docType === "Folder"){#
                    #if(name === "Shared Files" || name === "Shared Folders"){#
                    	<a href="\#tabstrip-docs?parent=#: data.id #" class="parent">
                    	<span class="sharedfolder"></span><span> #: name #</span>
                    	</a>
                    #}else{#
                   	 <a href="\#tabstrip-docs?parent=#: data.id #" class="parent">
                    	<span class="#: docType #"></span><span> #: name #</span>
                    	</a>
                    #}#

                #}else{#
                	# var ext = getFileExtension(name) #
                	<a href="\#hierarchical-view?parent=#: data.id #" class="parent">   
                	<span class="#= ext # default-icon"></span><span>#: name #</span>
                	</a>
                #}#
          	#}#
            
            #function getFileExtension(filename)
            {
                var ext = /^.+\.([^.]+)$/.exec(filename);
                return ext === null ? "" : ext[1];
            }#
        </script>
